<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zopx.testGoku.mapper.UserMapper">
	
	<resultMap type="top.zopx.testGoku.entity.User" id="BaseResultMap">
		<id column="id" property="id"/>
		<result property="appId" column="app_id"/>
		<result property="userType" column="user_type"/>
		<result property="nickName" column="nick_name"/>
		<result property="realName" column="real_name"/>
		<result property="gender" column="gender"/>
		<result property="avator" column="avator"/>
		<result property="tel" column="tel"/>
		<result property="email" column="email"/>
		<result property="password" column="password"/>
		<result property="state" column="state"/>
		<result property="isAuthor" column="is_author"/>
		<result property="pushKey" column="push_key"/>
		<result property="deviceImei" column="device_imei"/>
		<result property="isVip" column="is_vip"/>
		<result property="vipEndTime" column="vip_end_time"/>
		<result property="gold" column="gold"/>
		<result property="creater" column="creater"/>
		<result property="createTime" column="create_time"/>
		<result property="updater" column="updater"/>
		<result property="updateTime" column="update_time"/>
		<result property="deleter" column="deleter"/>
		<result property="deleteTime" column="delete_time"/>
		<result property="isDelete" column="is_delete"/>
		<result property="version" column="version"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		`id`
		,              `app_id`,`user_type` ,              `nick_name` ,              `real_name` ,              `gender` ,              `avator` ,              `tel` ,              `email` ,              `password` ,              `state` ,              `is_author` ,              `push_key` ,              `device_imei` ,              `is_vip` ,              `vip_end_time` ,              `gold` ,              `creater` ,              `create_time` ,              `updater` ,              `update_time` ,              `deleter` ,              `delete_time` ,              `is_delete` ,              `version`
	</sql>

    <select id="getListOrder" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM tbl_user
		<where>
			is_delete = 0
			<if test="req != null">
				<if test="req.appId != null">
					AND `app_id` = #{req.appId}
				</if>
				<if test="req.userType != 'ALL'">
					AND `user_type` = #{req.userType}
				</if>
				<if test="req.isVip != null">
					AND `is_vip` = #{req.isVip}
				</if>
				<if test="req.isAuthor != null">
					AND `is_author` = #{req.isAuthor}
				</if>
				<if test="req.nickName != null">
					AND `nick_name` LIKE CONCAT('%', #{req.nickName})
				</if>
				<if test="req.account != null and req.account != ''">
					AND (`tel` LIKE CONCAT('%', #{req.account}) OR `email` LIKE CONCAT('%', #{req.account}))
				</if>
				<if test="req.state != null">
					AND `state` = #{req.state}
				</if>
				<foreach collection="req.map.entrySet()" index="key" item="val">
					AND #{key} = #{val}
				</foreach>
			</if>
		</where>
		<if test="sorts != null and sorts.length > 0">
			ORDER BY
			<foreach collection="sorts" item="sort" separator=",">
				#{sort.lineField} #{sort.orderBy}
			</foreach>
		</if>
	</select>

	<update id="updateInfo">
		UPDATE tbl_user
		<set>
			<if test="req.nickName != null and req.nickName != ''">
				`nick_name` = #{req.nickName},
			</if>
		    <if test="req.gender != null and req.gender != ''">
				`gender` = #{req.gender}
			</if>
			<if test="req.avator != null and req.avator != ''">
				`avator` = #{req.avator}
			</if>
		</set>
		WHERE id = #{userId}
	</update>

</mapper>

