<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <environments default="OFFICIAL">
        <environment id="OFFICIAL">
            <transactionManager type="JDBC"/>
            <dataSource type="top.zopx.goku.framework.socket.datasource.CustomDataSourceFactory">
                <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                <property name="hikari" value="${hikari}"/>
            </dataSource>
        </environment>
    </environments>

</configuration>